header{
  background: white;

}
footer{
  background: white;
}
h2{
  margin: 0px;
}
/*.headerTable{
  color: #E67E22;

}*/
.storeBG{
  background: linear-gradient(to right, DeepPink , OrangeRed);
  padding: 2em;

}
.bgColorWhite{
  background: white;

}
.bgColorPink{
  background-color: pink;
  padding: 1.5em;

}
.centered{
  text-align: center;
  align-content: center;
  vertical-align: center;
}
.cart{
  height: 1em;
  width: 1.5em;
}
.logo{
  width: 5em;
  height: 2.5em;
  padding: .5em;
  margin: .5em;
  vertical-align: middle;
}
.link{
  text-decoration: none;
  /*font-size: .8em;*/
  text-transform: capitalize;
}
body{
  margin: 0px;
  font-family: sans-serif;

}
.mainNav{
  display: inline-block;
  /*padding: .5em auto .5em 1em;*/
  /*margin-bottom: 1em;*/
  vertical-align: middle;
  float: left;
}
.navMenu{
  text-transform: uppercase;
  display: inline-block;
  color: red;
  /*color: linear-gradient(to right, DeepPink , OrangeRed);*/
  /*padding: .5em .5em .5em;*/
  /*margin-bottom: .5em;*/
  font-weight: bold;
  /*line-height: 1em;*/
  text-decoration: none;
  vertical-align: middle;

}
.otherShoes{
  width: 32%;
  display: inline-block;
}
.secNav{
  /*align-content: right;*/
  padding: 1.5em;
  margin-bottom: .5em;
  line-height: 1em;
  /*text-align-last: right;*/
  display: inline-block;
  float: right;
  vertical-align: middle;
}
.secNavButton{
  text-decoration: none;
  color: red;
  font-weight: bold;
  text-align: right;
}
.imgShoe{
  width: 95%;
}
.textOnBG{
  color: white;
  font-weight: bold;

}
h1{
  text-transform: uppercase;
}
.sideBySide{
  display: inline;
}
.sideBySideBlock{
  display: inline-block;
}
.upper{
  text-transform: uppercase;
}
/* display: inline-block; */

.mainShoe{
  width: 95%;
}
.mainShoeBlock{
  width: 48%;
}

/*meyer reset*/
.inline{
  display: inline;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
