header{
  background: white;

}
footer{
  background: white;
}
h2{
  margin: 0px;
}
/*.headerTable{
  color: #E67E22;

}*/
.storeBG{
  background: red;
  padding: 2em;

}
.bgColorWhite{
  background: white;

}
.bgColorPink{
  background-color: pink;
  padding: 1.5em;

}
.centered{
  text-align: center;

}
.cart{
  height: 1em;
  width: 1.5em;
}
.logo{
  width: 5em;
  height: 2.5em;
  padding: .5em;
  margin: .5em;

}
.link{
  text-decoration: none;
  /*font-size: .8em;*/
  text-transform: capitalize;
}
body{
  margin: 0px;
  font-family: sans-serif;

}
.mainNav{
  display: inline;
  padding: .5em auto .5em 1em;
  margin-bottom: 1em;

}
.navMenu{
  text-transform: uppercase;
  display: inline-block;
  color: red;
  padding: .5em .5em .5em;
  margin-bottom: .5em;
  font-weight: bold;
  line-height: 1em;
  text-decoration: none;


}
.secNav{
  text-decoration: none;
  color: red;
  padding: 0em .5em .5em auto;
  margin-bottom: .5em;
  line-height: 1em;
  font-weight: bold;
  text-align: right;
  text-align-last: right;
}
.textOnBG{
  color: white;
  font-weight: bold;

}
h1{
  text-transform: uppercase;
}
.sideBySide{
  display: inline;
}
.sideBySideBlock{
  display: inline-block;
}
.upper{
  text-transform: uppercase;
}
/* display: inline-block; */

.mainShoe{
  width: 500px;
  height: 250px;
}
