header{

}
footer{

}
h2{

}
.headerTable{
  color: #E67E22;

}
.bgColorOrange{
  background-color: darkorange;

}
.bgColorWhite{
  background-color: white;

}
.bgColorPink{
  background-color: pink;

}
.centered{
  text-align: center;

}
